DB_USERNAME=root
DB_PASSWORD=

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_DEBUG=false

DASHSCOPE_API_KEY=
DASHSCOPE_APP_ID=

JWT_SECRET=

IFLYTEK_AVATAR_APP_ID=
IFLYTEK_AVATAR_API_KEY=
IFLYTEK_AVATAR_API_SECRET=
IFLYTEK_AVATAR_SCENE_ID=
IFLYTEK_AVATAR_RESOURCE_ID=
IFLYTEK_AVATAR_VCN=
IFLYTEK_AVATAR_PLAYER_APP_ID=1000000001
